{% extends 'base.html' %} 
{% block meta %}
<style>
    div:last-child{
        background-color: blue;
    }
</style>
{% endblock meta %}
{% block content %}
<div class = "w-100 border rounded bg-info text-center">
  <h1>Light Cone Inventory</h1>
  <h2>You have stored {{ jumlah_item }} Light Cones in this app</h2>
  <a href="{% url 'main:create_item' %}">
    <button class="btn btn-success my-2 px-3">
        Add New Light Cone
    </button>
  </a>
  <a href="{% url 'main:show_main' %}">
    <button class="btn btn-secondary my-2 px-3">
        Back
    </button>
  </a> <br><br>

    {% for item in items %}
      <div class="card border-primary mb-3" style="max-width: 24%; display: inline-block; vertical-align:top;">
        <div class="card-header"><h5 class="card-title">{{ item.name }}</h5></div>
        <div class="card-body">
          <h6 class="card-title">{{ item.rarity }} Stars</h6>
          <h6 class="card-title">The {{ item.lc_path }}</h6>
          <p class="card-text">{{ item.description }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Base ATK: {{ item.base_atk }}</li>
            <li class="list-group-item">Base HP: {{ item.base_hp }}</li>
            <li class="list-group-item">Base DEF: {{ item.base_def }}</li>
            <li class="list-group-item">Amount: {{ item.amount }}</li>
          </ul>
        </div>
        <div class="card-footer">
          <button onclick="window.location.href='/increase_amount/{{ item.id }}/';" class="btn btn-secondary my-2 px-3"> 
            + 1 
          </button>
          <button onclick="window.location.href='/decrease_amount/{{ item.id }}/';" class="btn btn-secondary my-2 px-3"> 
            - 1 
          </button>
          <button onclick="window.location.href='/delete_item/{{ item.id }}/';" class="btn btn-danger my-2 px-3"> 
            Delete
          </button>
        </div>
      </div>
    {% endfor %}
  {% load static %}
  <img src="{% static 'Pom-Pom_Sticker_06.webp' %}" alt="Pom Pom Belajar">
</div>
{% endblock content %}